*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Poppins',sans-serif;
    background:#faf7f2;
    color:#333;
    line-height:1.8;
}

/* NAVBAR */

.navbar{
    position:absolute;
    top:0;
    left:0;

    width:100%;

    padding:35px 80px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    z-index:100;
}

.logo{
    font-family:'Cormorant Garamond', serif;
    font-size:2rem;
    font-weight:700;
    color:#fff;
}

.logo span{
    color:#faa958;
}

.navbar nav{
    display:flex;
    gap:40px;
}

.navbar nav a{
    color:#fff;
    text-decoration:none;
    font-weight:500;
    transition:.3s;
}

.navbar nav a:hover{
    color:#faa958;
}

.container{
    width:90%;
    max-width:1200px;
    margin:auto;
}

section{
    padding:100px 0;
}

/* HERO */

.hero{
    position:relative;
    height:100vh;
    overflow:hidden;

    display:flex;
    justify-content:center;
    align-items:center;
}

.hero-image{
    position:absolute;
    width:100%;
    height:100%;
    

    object-fit:cover;
    object-position:center 35%;

    z-index:1;
}

.hero-overlay{
    position:absolute;
    inset:0;

     background:rgba(0,0,0,.25);

    z-index:2;
}

.hero-content{
    
    position:relative;
    z-index:3;
}



/*
.hero{
    min-height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;

    background:
    linear-gradient(
        rgba(247, 244, 244, 0.438),
        rgba(247, 244, 244, 0.377)
    ),
    url("../img/imagem.jpg");
    
    
    background-size:cover;
    background-position:center;
}*/

.tag{
    color:#fff;
    letter-spacing:5px;
    font-size:.9rem;
    
}

.hero h1{
    color:#fff;
    font-size:6rem;
    font-weight:700;
    font-family: 'Playfair Display', serif;
}

.hero h1,
.subtitle{
    text-shadow:
        0 3px 15px rgba(0,0,0,.3);
}

.subtitle{
    color:#fff;
    font-size:1.3rem;
    margin:15px 0 40px;
}

.btn{
    display:inline-block;
    padding:15px 35px;
    background:#f07901;
    color:#fff;
    text-decoration:none;
    border-radius:50px;
    transition:.3s;
}

.btn:hover{
    transform:translateY(-3px);
    background: #faa958;
}

/* TITULOS */

.titulo{
    margin-bottom:50px;
}

.titulo span{
    color:#f07901;
    font-weight:600;
    text-transform:uppercase;
}

.titulo h2{
    font-size:2.5rem;
    margin-top:10px;
}

.centro{
    text-align:center;
}

/* SOBRE */

.sobre-content{
    max-width:900px;
}

.sobre-content p{
    margin-bottom:20px;
    font-size:1.1rem;
}

/* SERVIÇOS */

.servicos{
    background:#fff;
}

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:25px;
}

.card{
    background:#fc7201a9;
    padding:35px;
    border-radius:15px;
    transition:.3s;
}

.card:hover{
    transform:translateY(-8px);
     background:
    linear-gradient(
        rgba(245, 159, 78, 0.699),
        rgba(248, 149, 55, 0.747)
    );
}

.card h3{
    margin-bottom:15px;
}

/* PORTFOLIO */

.portfolio-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
    gap:20px;
}

.portfolio-item{
    position:relative;
    overflow:hidden;
    border-radius:15px;
}

.portfolio-item img{
    width:100%;
    height:500px;
    object-fit:cover;
    display:block;
}

.overlay{
    position:absolute;
    inset:0;
    background:rgba(0,0,0,.6);

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    color:#fff;

    opacity:0;
    transition:.4s;
}

.portfolio-item:hover .overlay{
    opacity:1;
}

/* CONTATO */

.contato{
    background: #fc7201a9;
    text-align:center;
    color:#fff;
}

.contato h2{
    font-size:2.5rem;
    margin-bottom:20px;
}

.contato p{
    margin-bottom:30px;
}

.contato .btn{
    background:#fff;
    color:#f07901;
}

/* FOOTER */

footer{
    text-align:center;
    padding:30px;
    background:#222;
    color:#fff;
}

/* RESPONSIVO */

@media(max-width:992px){

    section{
        padding:80px 0;
    }

    .hero h1{
        font-size:4rem;
    }

}

@media(max-width:768px){

    .hero h1{
        font-size:3rem;
    }

    .titulo h2{
        font-size:2rem;
    }

    .contato h2{
        font-size:2rem;
    }

    .portfolio-item img{
        height:280px;
    }

}

@media(max-width:480px){

    .hero h1{
        font-size:2.4rem;
    }

    .subtitle{
        font-size:1rem;
    }

    .card{
        padding:25px;
    }

    .portfolio-item img{
        height:240px;
    }

    @media(max-width:768px){

    .navbar{
        padding:25px 30px;
    }

    .navbar nav{
        display:none;
    }

    .logo{
        font-size:1.7rem;
    }

}

}